/Library
UnityVS.Dreamhackathon2014.sln.DotSettings
*.sln
*.csproj
/obj
/Temp
Dreamhack_Data
*.exe
*.unityproj
UnityVS.VersionSpecfific.dll*
ProjectSettings/QualitySettings.asset
dreamhackathon.userprefs
UnityVS.dreamhackathon.sln.DotSettings